@import '../common'


.navbar
    height 3.5rem
    background-color $primaryColor
    padding 1rem
    position relative
    h1
        margin 0
        a
            text-decoration none
            color #000
    .nav-links
    .logo
        display inline-block
    .logo
        color $lightTextColor
        margin-right 50%
    .nav-links
        span
            color $lightTextColor
            font-size 1.6rem
        position absolute
        bottom 20
        float right

.navbar-footer
    height 1.0rem
    background-color $navbarHeader