.searchresults
    color red

.upvote-container
    height 70px
    width  500px
    position relative
    display block

.upvote-button
    height 100%
    width 100px
    display inline-block

.upvote-value
    height 100%
    display inline-block
    margin-left: 40px
