@import '../common'

.profile-image-small
    height 80px
    width 80px
    border-radius 50%

.profile-name
    margin-left 13px

.modal-message
    text-align center

.previous-comments-container
    border-style: solid;
    border-width: 0.5px;
    border-color: #81898C;
    border-radius: 3px;
