@import "./stylesheets/skeleton"

body
  height 100%
  background-color #F1F1F1

ul
ol
dl
  margin 0
  padding 0

.wrapper
  padding 2em
  max-width $container-width
  margin 0 auto

.row
  clear both

.col-20
.col-50,
.col-80
  float left

.col-20
  width 20%

.col-50
  width 50%

.col-80
  width 80%

button,
.button
  border 0 none
  background #E4E4E4
  font-weight bold
  font-size 1em
  height auto
  transition all 0.3s ease
  &:hover,
  &:focus
    color #000

.button[disabled]
    opacity 0.5

.button.submit
  width 100%
  padding 1.5em
  font-size 1.2em
  background #BADA55
  &:hover,
  &:focus
    color #FFF

