.uploadRecipe

  .row-spacer
    clear both
    margin 25px 0
    height 1px
    background #CCC
    display inline-block
    width 100%
    vertical-align middle
    &.transparent
      background transparent


  .upload-recipe-form
    &.ng-dirty
      input
        &.ng-invalid-required
          border-color red