// Searchbar styling goes here

@media only screen and (min-width: 960px)
    .searchbar-wrapper
        input
            height 100%
            width 100%
            max-width 650px
            border-radius 3px
            background-color #EEE
            border-color #AAB8BD
            border-style solid
            border-width 1px
